{{- $is404 := eq .Kind "404" -}}
{{- $title := "" -}}
{{- if $is404 -}}
  {{- $title = i18n "eyebrow_404" -}}
{{- else if eq .Kind "term" -}}
  {{- $title = i18n "tags_page_title" (dict "term" (partial "term-title.html" .Title)) -}}
{{- else -}}
  {{- $title = .LinkTitle | default .Title -}}
{{- end -}}
{{- $full := "" -}}
{{- if .IsHome -}}
  {{- $full = printf "%s - %s" site.Title (site.Params.jobTitle | default "Senior .NET Developer") -}}
{{- else -}}
  {{- $full = printf "%s - %s" $title site.Title -}}
{{- end -}}
{{- if or (and (eq .Kind "section") (eq .Section "blog")) (eq .Kind "term") -}}
  {{- if gt .Paginator.PageNumber 1 -}}
    {{- $full = printf "%s - Page %d" $full .Paginator.PageNumber -}}
  {{- end -}}
{{- end -}}
{{- return $full -}}
